.ShoppingList-Container {
    position: relative;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    background-image: url("../src/img/gaelle-marcel-g917EoHF-Ls-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}

.ShoppingList {
    width: 500px;
    height: 682px;
    margin: 7% 0% 0% 15%;
    background-image: url(../src/img/paper2.PNG);
    background-size: cover;
    transform: rotate(10deg);
    overflow: visible;
}

.ShoppingList h2 {
    text-align: center;
    margin: -05px 0px 0px 0px
}

.ShoppingList ul {
    margin-top: -5px;
    text-align: start;
    list-style-type: none;
}

.ShoppingList-Form-Container {
    background-color: rgba(248, 239, 172, 0.532);
    height: 250px;
    width: 480px;
    margin: 36rem 0 0 12rem;
    padding: 20px 20px;
    text-align: end;
}

.ShoppingList-Form-Container input {
    font-family: Fasthand;
    font-size: 29px;
    background-color: #ffffffa8;
    border-color: transparent;
    margin-top: 2%;
}


.ShoppingList-Form-Container button {
    width: 100px;
    height: 100px;
    font-family: Fasthand;
    font-size: 30px;
    background-color: #ffffffa8;
    border-color: transparent;
    border-radius: 50px;
    margin: 2% 50% 0 0%;
    transform:translate(50%);
    line-height: 100%;
}

.ShoppingList-Form-Container button:hover {
    cursor: pointer;
}
@media(max-width:750px){
    .ShoppingList{
        transform: scale(0.9);
        margin: 0 0 0 0;
    }
    .ShoppingList-Form-Container{
        text-align: center;
        margin-left:0;
        transform: scale(0.9); 
        height:80%; 
    }
    .ShoppingList-Form-Container label{
        display: block;
    }
    .ShoppingList-Form-Container button{
        transform: none;
        margin: 3% 0 0 0; 
    }
}


@media(max-width:1425px){
    .ShoppingList-Container{
       height: auto;
    }
    .ShoppingList-Form-Container{
        margin-top: 2rem;
    }
}


